absl-py==0.6.1
astor==0.7.1
atari-py==0.1.7
Automat==0.7.0
backcall==0.1.0
bleach==3.1.0
boto3==1.9.71
botocore==1.12.71
box2d-py==2.3.8
bz2file==0.98
certifi==2018.11.29
cffi==1.12.1
chardet==3.0.4
colorama==0.4.1
constantly==15.1.0
contractions==0.0.17
cssselect==1.0.3
cycler==0.10.0
Cython==0.29.5
DAWG-Python==0.7.2
decorator==4.3.2
defusedxml==0.5.0
docopt==0.6.2
entrypoints==0.3
future==0.17.1
gast==0.2.0
gensim==3.6.0
glfw==1.7.1
grpcio==1.17.1
-e git+https://github.com/openai/gym.git@17abad35ae82cf01ff4dc962ffd63e3d849d3903#egg=gym
h5py==2.9.0
hyperlink==18.0.0
idna==2.8
imageio==2.5.0
incremental==17.5.0
inflect==2.1.0
ipykernel==5.1.0
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
jmespath==0.9.3
json-lines==0.5.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-rl==0.4.2
kiwisolver==1.0.1
lockfile==0.12.2
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==3.0.2
missingno==0.4.1
mistune==0.8.4
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.4
numpy==1.16.1
pandocfilters==1.4.2
parsel==1.5.1
parso==0.3.4
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.4.1
plotly==3.4.2
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycparser==2.19
PyDispatcher==2.0.5
pyglet==1.3.2
Pygments==2.3.1
PyHamcrest==1.9.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
PyOpenGL==3.1.0
pyparsing==2.3.1
python-dateutil==2.8.0
PyYAML==3.13
pyzmq==18.0.0
qtconsole==4.4.3
queuelib==1.5.0
requests==2.21.0
retrying==1.3.3
s3transfer==0.1.13
scipy==1.2.1
Scrapy==1.5.1
Send2Trash==1.5.0
service-identity==18.1.0
sh==1.12.14
six==1.12.0
smart-open==1.7.1
tensorboard==1.12.1
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
Twisted==18.9.0
urllib3==1.24.1
w3lib==1.19.0
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wiki-ru-wordnet==1.0.3
xgboost==0.81
zope.interface==4.6.0
